/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift.woff') format('woff'),
      url('webfonts/Bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bahnschrift';
  src: 
      url('webfonts/BAHNSCHRIFT-light.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}




:root {
  --theme__color1: #FFDB00;
  --theme__color2: #202020;
  --Bahnschrift:'Bahnschrift';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #202020;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--Bahnschrift);
}
a, a:active, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 20px;
  line-height: 1.52;
  font-weight: 300;
  margin-bottom: 26px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1599px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1530px;
  }
}



/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
}
.header-in {
  padding: 52px 5%;
}
.header-section__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-flex;
  align-items: center;
}
.header__logo img {
  margin-bottom: -46px;
}

.header__main {
  margin: 0 auto;
  gap: 45px;
  display: flex;
  align-items: center;
}
.main-menu {

}
.main-menu > ul {
  gap: 45px;
  display: flex;
  align-items: center;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}

.buttons-menu {
  gap: 45px;
  display: flex;
  align-items: center;
}
.buttons-menu .button {

}
/* header-end */









/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  line-height: 1;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color2);
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  position: relative;
}

.hero-slider {

}
.hero-slide {
  position: relative;
}
.hero-slide__inner {
  min-height: 820px;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-slide__content {
  color: #fff;
  text-align: center;
  max-width: 845px;
  width: 100%;
  position: relative;
}
.hero-slide__content::before,.hero-slide__content::after {
  content: '';
  width: calc(50vw - 50%);
  height: 1px;
  background: var(--theme__color1);
  left: 0;
  top: 50%;
  transform: translate(-100%,-50%);
  display: block;
  position: absolute;
  opacity: 0.5;
}
.hero-slide__content::after {
  left: unset;
  right: 0;
  transform: translate(100%,-50%);
}
.hero-slide__content .h1 {
  font-size: 62px;
  line-height: 1.18;
  font-weight: 700;
  text-transform: uppercase;
}


.hero-sht {
  padding: 37px 52px 37px 65px;
  background: var(--theme__color2);
  color: #fff;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 44px;
  width: max-content;
  max-width: 100%;
}
.hero-sht h4 {
  font-size: 18.75px;
  font-weight: 400;
}
/* ---hero-section---end */


/* ---common--- */
.h4 {
  font-size: 24px;
  margin: 0 0 28px;
}
.h2 {
  font-size: 62px;
  margin: 0 0 45px;
  text-transform: uppercase;
  font-weight: 700;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.bottom-button {
  margin-top: 10px;
}
/* ---common---end */


/* ---section-a--- */
.section-a {
  padding: 195px 0 0;
  scroll-margin-top: -80px;
}
.section-a__inner {

}
.section-a-row {
  --left-width: 51.3%;
	display: flex;
}
.section-a-left {
  padding-right: 105px;
  width: var(--left-width);
  flex-shrink: 0;
}
.section-a-left .cont-blk {

}
.tab-nav {
	margin: 0 0 40px;
}
.tab-nav ul {

}
.tab-nav ul li {
  margin-bottom: 15px;
}
.tab-nav ul li a {
  font-size: 20px;
  padding: 10px 13px;
  font-weight: 700;
  color: #cdcdcd;
  border-bottom: 2px solid #E5E5E5;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
.tab-nav ul li:first-child a {
  padding-left: 0;
}
.tab-nav ul li:last-child a {
  padding-right: 0;
}
.tab-nav ul li a.active {
  color: #202020;
  border-bottom-color: #202020;
}

.section-a-right {
  width: calc((100% - var(--left-width)) + ((100vw - 100%) / 2));
  color: #fff;
  flex-shrink: 0;
}
.a-img-slider {

}
.a-img-slider .owl-dots {
  position: absolute;
  bottom: 114px;
  left: 65px;
}
.a-img-slide {
  height: 700px;
}
.a-img-slide .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slider-dots-1 .owl-dots {
  display: flex;
  gap: 15px;
}
.slider-dots-1 .owl-dot {
  height: 25px;
  width: 25px;
  background: #fff !important;
  border-radius: 50%;
  transition: 0.3s;
}
.slider-dots-1 .owl-dot.active {
  background: var(--theme__color1) !important;
}
/* ---section-a---end */




/* ---download-section--- */
.download-section {
  background: url('images/download-section-bg.png'), var(--theme__color2) no-repeat center center/cover;
  color: #fff;
}
.download-section__inner {
  padding: 160px 0 260px;
  position: relative;
  z-index: 1;
}
.download-section__inner::before {
  content: '';
  height: 1px;
  width: 4000px;
  background: var(--theme__color1);
  right: 606px;
  display: block;
  position: absolute;
  bottom: 262px;
  z-index: -1;
}

.download-section__inner::after {
  content: '';
  height: 227px;
  width: 1px;
  background: var(--theme__color1);
  right: 0;
  top: 0;
  display: block;
  position: absolute;
  z-index: -1;
}
.download-section__title {

}
.download__book__img {
	padding: 0 7%;
	margin: -165px 0 -185px;
	display: flex;
	justify-content: center;
}
.download__book__img .img {

}
.download__buttons-bt {
  padding-right: 215px;
  display: flex;
  justify-content: flex-end;
}
/* ---download-section---end */


/* ---feed-section--- */
.feed-section {
  padding: 86px 0 180px;
}
.feed-section__inner {

}
.feed-section__title {
  margin: 0 0 45px;
}
.feed-section__title .h2 {
  margin: 0 0 30px;
}

.feed-slider {

}
.feed-slider .owl-stage-outer {
  overflow: visible;
}
.feed-slider .owl-dots {
  width: 645px;
  margin-top: 39px;
  max-width: 100%;
}
.feed-slide {
  width: 430px;
}
.feed-slide .img {

}

.slider-dots-box .owl-dots {
  display: flex;
}
.slider-dots-box .owl-dot {
  height: 3px;
  display: block;
  flex-grow: 1;
  background: #E5E5E5 !important;
  transition: 0.3s;
}
.slider-dots-box .owl-dot.active {
  background: #202020 !important;
}
/* ---feed-section---end */



/* ---contact-section--- */
.contact-section {
  background: var(--theme__color2);
  color: #fff;
}
.contact-section__inner {
  padding: 113px 0 128px;
  position: relative;
  z-index: 1;
}
.contact-section__inner::before {
  content: '';
  height: 755px;
  width: 1px;
  background: var(--theme__color1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-section__left {
  
}
.contact-section__left .h2 {
  margin: 0 0 66px;
}
.contact-ul {
  display: flex;
  gap: 9px;
  flex-direction: column;
}
.contact-ul a {
  font-size: 20px;
  gap: 9px;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}
.contact-ul a:hover {
  color: var(--theme__color1);
}
.contact-ul a .icon {

}

.inquiry-form {

}
.inquiry-form__title {
  margin: 0 0 66px;
}
.inquiry-form__main {

}
.form__sel-buttons {
  gap: 58px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}
.sel-button-outer {
  display: flex;
  flex-direction: column;
}
.sel-button-outer label {
  font-size: 18.75px;
  margin: 0 0 21px 25px;
}
.sel-button {
  font-size: 17.5px;
  padding: 5px 21px;
  min-height: 51px;
  gap: 25px;
  display: inline-flex;
  align-items: center;
  background: var(--theme__color1);
  color: var(--theme__color2);
  transition: 0.3s;
}
.sel-button:hover {
  color: var(--theme__color2);
  background: #ffbb00;
}
.sel-button--white {
  background: #fff;
}
.sel-button .icon {
  
}
.sel-button .in-select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  display: inline-block;
  background: transparent;
  appearance: none;
  cursor: pointer;
  text-align: center;
  color: inherit !important;
  font-size: inherit;
}
.sel-button .in-select:focus {
  outline: none !important;
  box-shadow: none !important;
}
.in-select-date {
  width: 160px;
}
.in-select-time {
  width: 75px;
}
.sel-button .l-chevron {

}

.single-input-x {
  margin: 0 0 14px;
 width: 100%;
}
.input-x-outer {
 width: 100%;
}
.input-x {
  padding: 25px 38px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #9C9A9A;
  background: transparent;
  color: #fff;
}
.check-label-x {
  padding: 36px 0 0 36px;
  gap: 30px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.check-label-xl .checkbox {

}
.form-bottom {
  display: flex;
  justify-content: flex-end;
}
.form-bottom .submit-button {
  margin-top: 45px;
}

/* ---contact-section---end */



/* ---location-section--- */
.location-section {
  padding: 50px 0 26px;
  background: url('images/location-bg-map.png') no-repeat center center/cover;
}
.location-section__inner {

}
.location-section__title {
  margin: 0 0 37px;
}

.location__row {

}
.location__u-box {
  padding: 45px;
  background: var(--theme__color2);
  color: #fff;
}
.location__u-box-2 {
	margin-top: -188px;
}
.location__u-box h4 {
  font-size: 20px;
  margin: 0 0 55px;
}
.lk-ul {
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.lk-ul li {
  font-size: 20px;
  padding-left: 37px;
  font-weight: 300;
  position: relative;
}
.lk-ul li::before {
  content: '';
  height: 15px;
  width: 15px;
  background: var(--theme__color1);
  display: block;
  border-radius: 50%;
  border: 4px solid transparent;
  background-clip: padding-box !important;
  outline: 2px solid var(--theme__color1);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
}
/* ---location-section---end */


/* ---know-section--- */
.know-section {
  background: #F1F5F8;
}
.know-section__inner {
  padding: 180px 10% 200px;
  position: relative;
  z-index: 1;
}
.know-section__inner::after {
	content: '';
	height: 580px;
	width: 1px;
	background: var(--theme__color1);
	left: 0;
	top: 0;
	display: block;
	position: absolute;
	z-index: -1;
}
.know-section__title {
  margin: 0 0 80px;
}

.know-section-content {
  text-align: center;
}
.know-section-content h4 {

}
.know-section-content p {
  margin-bottom: 55px;
}
.know-section-content p:last-child {
  margin-bottom: 0;
}
/* ---know-section---end */


/* ---footer-section--- */
.footer-section {
  background: var(--theme__color2);
  color: #fff;
}
.footer-top {
  padding: 87px 0 29px;
}
.footer-top__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  width: 332px;
  margin: 0 0 49px;
  display: block;
}
.footer-logo img {

}
.footer-menu-row {
  gap: 45px;
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.footer-bottom {
  padding: 26px 0 50px;
  border-top: 1px solid #fff;
}
.footer-bottom__inner {

}
.f-menu {
  gap: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-menu li {

}
.f-menu li a {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.3s;
}
.f-menu li a:hover {
  color: var(--theme__color1);
}
/* ---footer-section---end */